body{
    background: #0a0a0a;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bawckground.gif) no-repeat center / cover fixed;
    background-color: #0a0a0a;
    overflow: hidden;
}

.card{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px white);
}

.name{
    text-shadow: 0 0 10px red, 0 0 20px red;
}

.links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.links a:hover {
    transform: scale(1.1);
}

.mbm {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}